<!DOCTYPE html>
<html>
      <head>
            <script type="text/javascript">
                window.Poe3 = {};
            </script>
            <meta http-equiv="content-type" content="text/html; charset=utf-8" />

            <title>{{title}}</title>
            <link rel="icon" type="image/png" href="/images/favicon.png"/>
            <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif|Dancing+Script:700' rel='stylesheet' type='text/css'>
            <link href="/css/main.css" rel="stylesheet" type="text/css" media="screen" />
            <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" media="screen" />

            <!-- js lib files -->
            <script type="text/javascript" src="/js/lib/jquery.min.js"></script>
            <script type="text/javascript" src="/js/lib/underscore-min.js"></script>
            <script type="text/javascript" src="/js/lib/backbone-min.js"></script>
            <script type="text/javascript" src="/js/lib/handlebars.js"></script>
            <script type="text/javascript" src="/js/lib/inc.js"></script>

            <!-- Edited js. Includes a customized version of lightbox_me. -->
            <script type="text/javascript" src="/js/init.js"></script>
            <script type="text/javascript" src="/js/models/models.js"></script>           
            <script type="text/javascript" src="/js/lightbox_me.js"></script>
            <script type="text/javascript" src="/js/layout.js"></script>           
            <script type="text/javascript" src="/js/layouthelper.js"></script>                      
            <script type="text/javascript" src="/js/views/baseview.js"></script>           
            <script type="text/javascript" src="/js/views/newpostview.js"></script>                                 
            <script type="text/javascript" src="/js/views/postlistview.js"></script>                      
            <script type="text/javascript" src="/js/views/postlistviewitem.js"></script>  
            <script type="text/javascript" src="/js/views/postsview.js"></script>           
            <script type="text/javascript" src="/js/views/taglistview.js"></script>                      
            <script type="text/javascript" src="/js/views/taglistviewitem.js"></script>                                             
            <script type="text/javascript" src="/js/views/userlistview.js"></script>
            <script type="text/javascript" src="/js/views/postview.js"></script>                      
            <script type="text/javascript" src="/js/views/userview.js"></script>
            <script type="text/javascript" src="/js/views/edituserview.js"></script>           
            <script type="text/javascript" src="/js/views/loginview.js"></script>                       
            <script type="text/javascript" src="/js/views/facebooksharepostview.js"></script>                                   
            <script type="text/javascript" src="/js/notifications.js"></script>
            <script type="text/javascript" src="/js/main.js"></script>
            <script type="text/javascript" src="/js/vintage.js"></script>
            
            <script type="text/javascript">
                window.Poe3.debugMode = true
            </script>
            
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-35438157-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
            
      </head>
    <body>
        <div id="fb-root"></div>
        <div class="container">
            <div class="main-window">
                <h1 class="logo"><a href="/" class="title">Poetry</a></h1>
                <div class="topbar">
                    <div class="menu-container">
                    </div>
                </div>
                <div class="text-content" style="visibility:hidden;display:none">
                    {{{body}}}
                </div>                
                <div id="content">                
                </div>
            </div>
            <div class="sidebar">
                <div class="messages">
                    <div class="showcase" style="display:none"></div>
                    <div class="notifications"></div>
                </div>
                <!--
                <div class="footer">
                    <p>
                        Poetry Applications, <span class="flag-c1">Made</span> <span class="flag-c2">in</span> <span class="flag-c3">India</span>
                    </p>
                </div>
                -->
            </div>            
        </div>        
    </body>
</html>
