<div class="content-box fixed-width edit-user template-edituserview">
    <div class="edit-form main-section">
        <div class="left">
            <p class="profile-pic">
                <img src="{{picture}}" alt="{{name}}" />
            </p>
        </div>
        <div class="right">
            <h2>{{name}}</h2>
            <p>
                Write something about yourself <br />
                <textarea class="about">{{about}}</textarea>                
            </p>
            <p>
                Twitter username
                <br />
                <input class="twitter-username" type="text" value="{{twitterUsername}}" />
            </p>            
            <p>
                Website url
                <br />
                <input class="website" type="text" value="{{website}}" /> 
            </p>            
            <p>
                <button class="save"><i class="icon-ok"></i>Save</button>
            </p>
        </div>
        <div style="clear:both"></div>
    </div>
</div>
