<div class="posts-view template-postsview">
    <div class="std-menu">
        <ul>
            <li><span class="popular"><a href="/">Popular</a></span></li>
            <li><span class="all"><a href="/posts">All Posts</a></span></li>
            <li><span class="open"><a href="/posts/open">Open</a></span></li>
        </ul>
    </div>

    <div class="filter">
        <p class="active">
            <i class="icon-filter"></i> <span class="prefix">Showing</span> <a href="#" class="type">All</a>
        </p>
        <p class="select" style="display:none">
            <i class="icon-filter"></i> 
            <a href="#" class="all">All</a> 
            <a href="#" class="text">Text</a> 
            <a href="#" class="haiku">Haiku</a> 
            <a href="#" class="six-word-story">Six word story</a> 
            <a href="#" class="quote">Quote</a> 
            <a href="#" class="free-verse">Free verse</a>
        </p>
    </div>
    
    <div class="paginator top" style="display:none">
        paginator
    </div>

    <div class="page-content">
    </div>

    <div class="paginator-border-bottom" style="clear:both; margin-right: 20px;"></div>

    <div class="paginator bottom" style="display:none">
        paginator
    </div>
</div>
