<div class="content-box user-view template-userview">
    <div class="user-info">
    </div>
    <div class="std-menu">
        <ul>
            <li><a href="/{{domain}}/{{username}}/completed" data-fix-anchors="false" class="selected completed">Completed</a></li>
            <li><a href="/{{domain}}/{{username}}/open" data-fix-anchors="false" class="open">Open</a></li>
            <li><a href="/{{domain}}/{{username}}/likes" data-fix-anchors="false" class="likes">Favorites</a></li>
            <li><a href="/{{domain}}/{{username}}/tags" data-fix-anchors="false" class="tags">Tags</a></li>
            <li class="hidden messages"><a href="/{{domain}}/{{username}}/messages" data-fix-anchors="false" class="messages">Messages</a></li>
        </ul>
    </div>
    <div class="page-content">
    </div>
</div>
